
.userImage p {
    font-size: small;
}

.header {
    background: #3F8AE0;
    width: 100%;
}

.name, .level_counter {
    float: left;
}

.level_counter {
    display: table;
    float: none;
    padding-left: 5px;
}

.card {
    background-color: #3F8AE0;
    /* background-image: linear-gradient(to right, #c1c161 0%, #c1c161 0%, #d4d4b1 100%);*/
}

.card1 {
    background-color: aqua;
    /*background-image: linear-gradient(to right, #c1c161 0%, #c1c161 0%, #d4d4b1 100%);*/
}

.card2 {
    background-color: cadetblue;
}

.card3 {
    background-color: aquamarine;
}

.card4 {
    background-color: dodgerblue;
}

.card5 {
    background-color: deepskyblue;
}

.card6 {
    background-color: powderblue;
}

.textInBLocks div {
    color: white;
    font-size: 18px;
    font-family: Tahoma;
    font-weight: bolder;
    top: 35px;
    text-align: center;

}

