
.userImage p {
    font-size: small;
}

.header {
    background: #3F8AE0;
    width: 100%;
}

.name, .level_counter {
    float: left;
}

.level_counter {
    display: table;
    float: none;
    padding-left: 5px;
}

.card {
    background-color: #76bd23;
    /* background-image: linear-gradient(to right, #c1c161 0%, #c1c161 0%, #d4d4b1 100%);*/
}

.card1 {
    background-color: #a4d560;
    /*background-image: linear-gradient(to right, #c1c161 0%, #c1c161 0%, #d4d4b1 100%);*/
}

.card2 {
    background-color: #628c1c;
}

.card3 {
    background-color: #546224;
}

.card4 {
    background-color: #c0e18a;
}

.card5 {
    background-color: #62a710;
}

.card6 {
    background-color: #b7dd78;
}

